@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:wght@200;400;700&display=swap');


.App {
  background-color: #eee;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.header {
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 15px;
  background-color: black;
  
}

#main-title {
  font-size: 65px;
  font-family: 'Concert One', cursive;
}

.nav-bar{
  text-align: right;
  width: 30%;
  color: white;
}

.about-page {
  width: 70% ;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
