.user-selection {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
}

#user {
    margin: 50px;
    align-items: center;
}

#pic-select {
    transition: 0.25s;
    border-bottom: 5px solid transparent;
}

#pic-select:hover {
    transform: scaleY(1.15) scaleX(1.15);
    border-bottom: 5px solid red;
}